{{template "admin" .}} {{define "css"}}
<link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" type="text/css"> {{end}} {{define "page-title"}}
<em><b>Rest</b></em> Reservations {{end}} {{define "content"}}

<div class="container container-fluid col-md-12">
    {{$resv := index .Data "reservation"}}
    <table class="table table-striped table-hover table-responsive table-light" id="all-resv-table">
        <thead>
            <tr>
                <th>id</th>
                <th>first Name</th>
                <th>last name</th>
                <th>email</th>
                <th>check in date</th>
                <th>check out date</th>
            </tr>
        </thead>
        <tbody>
            {{range $resv}}
            <tr>
                <td>{{.ID}}</td>
                <td>
                    <a href="/admin/admin-show-reservation/all/{{.ID}}/show">{{.FirstName}}</a>
                </td>
                <td>{{.LastName}}</td>
                <td>{{.Email}}</td>
                <td>{{dateFormat .CheckInDate}}</td>
                <td>{{dateFormat .CheckOutDate}}</td>
            </tr>
            {{end}}
        </tbody>
    </table>
</div>
{{end}} {{define "js"}}
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" type="text/javascript"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const dataTable = new simpleDatatables.DataTable("all-resv-table", {
            searchable: true,
            select: 3,
            sort: "asc",
        })
    })
</script>


{{end}}