{{template "admin" .}}


{{define "css"}}
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" type="text/css">

{{end}}
{{define "page-title"}}
    <em><b>Rest</b></em> Reservations
{{end}}
{{define "content"}}

    <div class="container container-fluid col-md-12">
        {{$resv := index .Data "reservation"}}
        <table class="table table-striped table-responsive table-hover" id="all-resv-table">
            <thead>
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Check In Date</th>
                <th>Check Out Date</th>
            </tr>
            </thead>
            <tbody>
            {{range $resv}}
                <tr>
                    <td>{{.ID}}</td>
                    <td>
                        <a href="/admin/admin-show-reservation/all/{{.ID}}">
                            {{.FirstName}}</a>
                    </td>
                    <td>{{.LastName}}</td>
                    <td>{{.Email}}</td>
                    <td>{{DateFormat .CheckInDate}}</td>
                    <td>{{DateFormat .CheckOutDate}}</td>
                </tr>
            {{end}}
            </tbody>
        </table>
    </div>
{{end}}


{{define "js"}}
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" type="text/javascript"></script>
    <script>
        const dataTable = new simpleDatatables.DataTable("all-resv-table", {
            searchable: true,
        })

    </script>


{{end}}