{{template "admin" .}}

{{define "page-title"}}
    Rest Adminstration Dashboard
{{end}}

{{define "content"}}
    <div class="col-md-12">
        Rest Dashboard Content
    </div>

{{end}}


{{define "js"}}
    <script>const dataTable = new simpleDatatables.DataTable("#myTable", {
            searchable: true,
        })
    </script>
{{end}}