{{define "base"}}
    <!doctype html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
        <link rel="stylesheet" href="bootstrap.min.css">
        <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
              integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" rel="stylesheet">

        <link href="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.1.4/dist/css/datepicker-bs4.min.css"
              rel="stylesheet">
        <!--notie stylesheet-->
        <link href="https://unpkg.com/notie/dist/notie.min.css" rel="stylesheet" type="text/css">
        <!--sweetAlert stylesheet -->
        <!--    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>-->
        <!--    <link rel="stylesheet" href="sweetalert2.min.css">-->
        <link href="bootstrap.min.css" rel="stylesheet"/>
        {{/*        <script src="jquery-3.5.1.min.js"></script>*/}}
        {{/*        <script src="bootstrap.min.css"></script>*/}}
        <link rel="stylesheet" href="/static/css/styles.css">
        <!--block for css--->

        {{block "css" .}}

        {{end}}

        <style>
            .navbar-dark .navbar-brand {
                color: goldenrod;
                font-family: Ubuntu;
                font-size: 2rem;
                font-weight: bolder;
            }

            .navbar-dark .navbar-toggler {
                border-color: goldenrod;
            }

            .navbar-dark .navbar-toggler-icon {
                border-color: goldenrod;
            }

            .nav-link {
                color: goldenrod;
            }

            .dropdown-menu {
                background-color: goldenrod;
                color: white;
            }

            /*.form-control {*/
            /*    background-color:darkgray;*/
            /*    font-size: 1.1rem;*/
            /*    max-width: 90%;*/
            /*    border-radius: 0.85rem;*/
            /*    border-color: goldenrod;*/
            /*}*/

        </style>
    </head>
    <!--block for html tags--->
    <body class="">
    <nav aria-label="Eighth navbar example" class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="index.html">Rest</a>
            <button aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation"
                    class="navbar-toggler" data-bs-target="#navbarsExample07" data-bs-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExample07">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a aria-current="page" class="nav-link active" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/check-availability">book now</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
                           id="dropdown07">Rooms</a>
                        <ul aria-labelledby="dropdown07" class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="/junior-suite">Junior Suite</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/premium-suite">Premium suite</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/deluxe-suite">Deluxe suite</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/penthouse-suite">Penthouse suite</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/executive">Executive Suite</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <form>
                    <input aria-label="Search" class="form-control" placeholder="Search" type="text"/>
                </form>
            </div>
        </div>
    </nav>
    {{block "content" .}}

    {{end}}
    <br>
    <div class="b-example-divider"></div>
    <div class="text-light bg-dark text-center p-2 mt-2">
        <footer class="py-3">
            <div class="row">
                <div class="col-4">
                    <h5 class="ft">Rest Tavern Sections</h5>
                    <ul class="nav flex-column navigate">
                        <li class="nav-item mb-2">
                            <a class="nav-link p-0 text-muted" href="#">Home</a>
                        </li>
                        <li class="nav-item mb-2">
                            <a class="nav-link p-0 text-muted" href="#">Book now</a>
                        </li>
                        <li class="nav-item mb-2">
                            <a class="nav-link p-0 text-muted" href="#">Rooms</a>
                        </li>
                        <li class="nav-item mb-2">
                            <a class="nav-link p-0 text-muted" href="#">Contact</a>
                        </li>
                        <li class="nav-item mb-2">
                            <a class="nav-link p-0 text-muted" href="#">About</a>
                        </li>
                    </ul>
                </div>

                <div class="col-3">
                    <h5 class="ft">Contact us on</h5>
                    <ul class="nav flex-column social">
                        <li class="nav-item mb-2">
                            <a class="nav-link p-0 text-muted" href="www.dropbox.com"><img alt="" class="ico"
                                                                                           src="/static/icons/dropbox-32x32-675656.png"/></a>
                        </li>
                        <li class="nav-item mb-2">
                            <a class="nav-link p-0 text-muted" href="www.facebook.com"><img alt="" class="ico"
                                                                                            src="/static/icons/facebook-32x32-675666.png"/></a>
                        </li>
                        <li class="nav-item mb-2">
                            <a class="nav-link p-0 text-muted" href="www.github.com"><img alt="" class="ico"
                                                                                          src="/static/icons/github-32x32-675676.png"/></a>
                        </li>
                        <li class="nav-item mb-2">
                            <a class="nav-link p-0 text-muted" href="www.linkedin.com"><img alt="" class="ico"
                                                                                            src="/static/icons/linkedin-32x32-675695.png"/></a>
                        </li>
                        <!-- <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted"></a></li> -->
                    </ul>
                </div>
                <div class="col-4 offset-1 newsletter">
                    <form>
                        <h5 class="ft">Subscribe to our newsletter</h5>
                        <p>Monthly digest of whats new and exciting from us.</p>
                        <div class="d-flex w-75 gap-2">
                            <label class="visually-hidden" for="newsletter1">Email address</label>
                            <input class="form-control" id="newsletter1" placeholder="Email address" type="text"/>
                            <button class="sub" type="button">Subscribe</button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="d-flex justify-content-between py-1 my-1 border-top">
                <p class="ft">@Rest Tavern : 2021 Tech Inc. All rights reserved.</p>
                <ul class="list-unstyled d-flex">
                    <li class="ms-3">
                        <a class="link-dark" href="#">
                            <svg class="bi" height="24" width="24">
                                <use xlink:href="#twitter"/>
                            </svg>
                        </a>
                    </li>
                    <li class="ms-3">
                        <a class="link-dark" href="#">
                            <svg class="bi" height="24" width="24">
                                <use xlink:href="#instagram"/>
                            </svg>
                        </a>
                    </li>
                    <li class="ms-3">
                        <a class="link-dark" href="#">
                            <svg class="bi" height="24" width="24">
                                <use xlink:href="#facebook"/>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </footer>
    </div>

    {{/*    <script src="jquery-3.5.1.min.js"></script>*/}}

    <!--popper CDN reference-->
    <script crossorigin="anonymous"
            integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>

    <!--Bootstrap.js CDN reference-->
    <script src="bootstrap.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>

    <!--Vanilla datepicker-->
    <script src="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.1.4/dist/js/datepicker-full.min.js"></script>

    <!--notie reference for notification pop up-->
    <script src="https://unpkg.com/notie"></script>

    <!--sweetalert2 reference-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.3.0/dist/sweetalert2.all.min.js"></script>
    <!--    what you add a date picker href link-->
    <!--    want to add a notification cdn link-->


    <!--block for javascript--->
    {{block "js" .}}

    {{end}}
    <script>
        // Bootstrap Form Validation
        (function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            let forms = document.querySelectorAll('.needs-validation')

            // Loop over them and prevent submission
            Array.prototype.slice.call(forms)
                .forEach(function (form) {
                    form.addEventListener('submit', function (event) {
                        if (!form.checkValidity()) {
                            event.preventDefault()
                            event.stopPropagation()
                        }

                        form.classList.add('was-validated')
                    }, false)
                })
        })()

        let notifyUser = promptAlert()

        function promptAlert() {
            let toast = function (notify) {
                const {
                    msg = "",
                    icon = "success",
                    position = "top",
                } = notify

                //Default parameter
                const Toast = Swal.mixin({
                    toast: true,
                    title: msg,
                    position: position,
                    icon: icon,
                    showConfirmationBar: false,
                    timer: 5000,
                    timerProgressBar: true,
                    didOpen: (toast) => {
                        toast.addEventListener("mouseenter", Swal.stopTimer)
                        toast.addEventListener("mouseleave", Swal.resumeTimer)
                    }
                })
                Toast.fire({})
            }

            let success = function (notify) {
                const {
                    msg = "",
                    title = "",
                    footer = "",
                } = notify

                //Default parameter
                Swal.fire({
                    icon: "success",
                    title: title,
                    footer: footer
                })

            }

            let error = function (notify) {
                const {
                    msg = "",
                    title = "",
                    footer = "",
                } = notify

                //Default parameter
                Swal.fire({
                    icon: "error",
                    title: title,
                    footer: footer
                })

            }


            async function customer(notify) {
                const {
                    msg = "",
                    title = "",
                } = notify

                const {
                    value: formValues
                } = await Swal.fire({
                        title: title,
                        backdrop: false,
                        showCancelButton: true,
                        html: msg,
                        focusConfirm: false,
                        willOpen: () => {
                            if (notify.willOpen !== undefined) {
                                notify.willOpen();
                            }
                        },

                        preConfirm: () => {
                            return [
                                document.getElementById("check-in").value,
                                document.getElementById("check-out").value
                            ]
                        },
                        didOpen: () => {
                            if (notify.didOpen() !== undefined) {
                                notify.didOpen();
                            }

                        }
                    },
                )
                if (formValues) {
                    if (formValues.dismiss !== Swal.DismissReason.cancel) {
                        if (formValues !== "") {
                            if (notify.callback !== undefined) {
                                notify.callback(formValues)
                            } else {
                                notify.callback(false);
                            }
                        }
                    } else {
                        notify.callback(false);
                    }
                }

            }

            return {
                success: success,
                toast: toast,
                error: error,
                customer: customer,
            }

        }
    </script>
    </body>
    </html>

{{end}}
