{{template "base" .}}

{{define "content"}}
    <h1>Akinleye Yusuf</h1>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Golang Developer</h1>
                <h2>Data Science and Machine Learning Engineer</h2>
                <!--<h2>Hello ,Everyone , this is {{index .StringData "Test"}}</h2>-->
                 <img src="/static/images/macsetup.jpg" width="1200" height="678" alt="macPC.png">

            </div>
        </div>
    </div>
{{end}}