{{template "base" .}} {{define "content"}} {{$resv := index .Data "reservation"}}
<div class="container">
    <div class="row">
        <div class="col">
            <h3>Reservation Form values</h3>
            <hr>
            <table class="table table-responsive table-striped table table-striped|sm|bordered|hover|inverse table-inverse table-responsive ">
                <thead class="thead-inverse|thead-default ">
                </thead>
                <tbody>
                    <tr>
                        <td>Name : </td>
                        <td>{{$resv.FirstName}} {{$resv.LastName}}</td>
                    </tr>
                    <tr>
                        <td>Email : </td>
                        <td>{{$resv.Email}}</td>
                    </tr>
                    <tr>
                        <td>phone Number : </td>
                        <td>{{$resv.PhoneNumber}}</td>
                    </tr>

                    <tr>
                        <td>Check-in Date : </td>
                        <td>{{$resv.CheckInDate}}</td>
                    </tr>
                    <tr>
                        <td>check-out Date : </td>
                        <td>{{$resv.CheckOutDate}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

{{end}} {{define "js"}}
<script>
    notifyUser.error({
        msg: "error"
    })
</script>
{{end}}